.icon {
    color: #d0b200;
    font-size: 35px;
}

.follow-us-icon-container {
    width: 80px;
    height: 80px;
    background-color: #faf7e8;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
    margin: 15px;
    border-radius: 40px;
}
